<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.relayapptest734977" 
  version="0.0.1" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:gap="http://phonegap.com/ns/1.0">
  
  <name>RelayAppTest</name>
  <description>
        RelayAppTest
    </description>
  <author email="platforms.team.webplu@deltatre.com" href="http://www.deltatre.com/">
      Deltatre WebPlu
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="phonegap-version" value="3.7.0" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <gap:plugin name="com.phonegap.plugins.PushPlugin"/>
</widget>